<a href="https://colab.research.google.com/github/vpwz/ds1002-qnd8mu/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [3]:
# code here
v = 0

while v < 20:
  if(v&2 <= 0):
    print(v)
  v+=1

0
1
4
5
8
9
12
13
16
17

## For-Loops with Lists

In [6]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [7]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for str in mylist:
  if(str>=0):
    print(str)

9
15
23
4
92
47
33
17
18
38

In [9]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for str in mylist:
  if(str<0):
    print(abs(str))
  else:
    print(str)

9
15
23
4
92
47
33
17
4
18
38
242

In [11]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for str in mylist:
  if str<=40 or str<=20:
    print(str)

9
15
23
4
33
17
-4
18
38
-242

## For-Loops with Dictionaries

In [15]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [18]:
# Write a command to print out all the keys of this dict
for key, value in capitals.items():
  print(key)

United States
Italy
England
Thailand
Brazil

In [19]:
# Write a command to print out all the values of this dict
for key, value in capitals.items():
  print(value)

Washington DC
Rome
London
Bangkok
Brasilia

In [20]:
# Write a command to print all the keys and values for this dict

for key, value in capitals.items():

  print(key)
  print(value)

United States
Washington DC
Italy
Rome
England
London
Thailand
Bangkok
Brazil
Brasilia

In [22]:
# Write a command to print only the first three values and NOTHING more.
count = 0

for key, value in capitals.items():
  if count < 3:
    print(value)
  count+= 1

Washington DC
Rome
London